<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/sophi-optimism-2020.appspot.com/o/imagenes%2Fimgsocial.png?alt=media&token=70bd5960-b560-415b-a90b-7cc1383d71ab"
      />
    </ion-avatar>
    <ion-card-content>
      <h4
        style="
          font-weight: 600;
          color: rgba(39, 39, 39, 0.81);
          font-size: 16px;
        "
      >
      Olvidó su password?
      </h4>
    </ion-card-content>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-auth-form #resetPasswordForm (formSubmitted)=resetPassword($event) [actionButtonText]="'Reset Password'"
    [isPasswordResetPage]="true"></app-auth-form>
</ion-content>