<ion-content>
  <ion-card class="ion-padding">
    <ion-card-content>
      <ion-img src="/assets/login.png"></ion-img>
      <app-auth-form #loginForm (formSubmitted)="loginUser($event)" [actionButtonText]="'Login'"></app-auth-form> 
      <ion-button expand="block" fill="clear" routerLink="/signup">
        <h6 style="font-weight: 600; color: rgb(133, 133, 133);font-size: 10px;">
          Crear una cuenta
        </h6>
      </ion-button>
      <ion-button expand="block" fill="clear" routerLink="/reset-password">
        <h6 style="font-weight: 600; color: rgb(133, 133, 133);font-size: 10px;">
        Olvidó su password :(
        </h6>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
